.ttt{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-link {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }