<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/layaut_logo.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/layaut_logo.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/layaut_logo.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
  
<div class="ttt">
  <div class="container my-4">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let card of cards">
        <div class="card h-100 shadow-sm">
          <div class="card-header bg-dark text-white text-center">
            <h5 class="mb-0">{{card.title}}</h5>
          </div>
          <img src="{{card.img}}" class="card-img-top" alt="Card image">
          <div class="card-body">
            <a href="{{card.link}}" class="btn btn-dark w-100">Ссылка карточки</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>