<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-dark text-white text-center">
      <h1 class="mb-0">Профиль</h1>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-4 text-center">
          <img class="img-account-profile rounded-circle mb-3" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
          <p class="small text-muted">JPG или PNG размером не более 5 МБ</p>
          <button class="btn btn-dark" type="button">Загрузить новое изображение</button>
        </div>
        <div class="col-8">
          <div class="mb-3">
            <label class="form-label small" for="inputUsername">Имя пользователя</label>
            <input class="form-control" id="inputUsername" type="text" placeholder="Введите имя пользователя">
          </div>
          <div class="row gx-3 mb-3">
            <div class="col-md-6">
              <label class="form-label small" for="inputFirstName">Имя</label>
              <input class="form-control" id="inputFirstName" type="text" placeholder="Введите имя">
            </div>
            <div class="col-md-6">
              <label class="form-label small" for="inputLastName">Фамилия</label>
              <input class="form-control" id="inputLastName" type="text" placeholder="Введите фамилию">
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <div class="col-md-6">
              <label class="form-label small" for="inputOrgName">Логин</label>
              <input class="form-control" id="inputOrgName" type="text" placeholder="Введите логин">
            </div>
            <div class="col-md-6">
              <label class="form-label small" for="inputLocation">Пароль</label>
              <input class="form-control" id="inputLocation" type="password" placeholder="Введите пароль">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label small" for="inputEmailAddress">E-mail</label>
            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Введите e-mail">
          </div>
          <div class="mb-3">
            <label class="form-label small" for="inputCardNumber">Номер карточки</label>
            <input class="form-control" id="inputCardNumber" type="text" placeholder="Введите номер карточки банка">
          </div>
          <div class="mb-3">
            <label class="form-label small" for="inputPhone">Телефон</label>
            <input class="form-control" id="inputPhone" type="tel" placeholder="Введите телефон">
          </div>
          <div class="row gx-3 mb-3">
            <div class="col-md-6">
              <label class="form-label small" for="inputCountry">Страна</label>
              <input class="form-control" id="inputCountry" type="text" placeholder="Введите страну">
            </div>
            <div class="col-md-6">
              <label class="form-label small" for="inputCity">Город</label>
              <input class="form-control" id="inputCity" type="text" placeholder="Введите город">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label small" for="inputStreet">Улица</label>
            <input class="form-control" id="inputStreet" type="text" placeholder="Введите улицу">
          </div>
          <button class="btn btn-dark btn-block" type="button">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
</div>