/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    font-family: 'Montserrat', sans-serif;
}
.logo-img-header{
width:130px;
height:40px;
}
.logo-img-footer{
    width:100px;
    height:50px;
    }
.justify-space-evenly {
    justify-content: space-evenly;
}